<h2 mat-dialog-title>Candidate information</h2>
<mat-dialog-content class="mat-typography">
  <mat-list>
    <mat-list-item>
      <mat-icon mat-list-icon>face</mat-icon>
      <div mat-line>Name:</div>
      <div mat-line>Antonio Russo</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>email</mat-icon>
      <div mat-line>Email:</div>
      <div mat-line>antonio@beautifulinteractions.com</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>code</mat-icon>
      <div mat-line>Github:</div>
      <div mat-line>https://github.com/antonioru/</div>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>
